# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any compiled C extensions
*.so

# Ignore mypy cache
.mypy_cache/

# Ignore pytest cache
.pytest_cache/

# Ignore log files and other temp files
*.log
*.tmp

# Ignore environment files 
.env

# Ignore kaggle.json
kaggle.json

# Ignore CSV, EXCEL files
*.csv
*.xlsx

# Ignore Datasets folder
dataset/

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg